body{
    background: url(resources/images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
    

}



.card{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: 20px auto;
}

.h1{
    margin-bottom: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
}

.input{
    margin-top: 10px;
    border-radius: 5px;
    width: 350px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: aquamarine;
    border: 5px;
    text-align: right;
    padding-right: 15px;
    font-size: 2rem;
    
    

}

.input:focus{
    background-color: rgb(88, 203, 165);
    border: none;
}

.btn1{
    width: 60px;
    height: 60px;
    border: 5px;
    border-radius: 50px;
    background: #ffe0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border: none;
    font-size: 20px;
    
    
}

.btn1:focus{
    background-color: rgb(248, 246, 244);
}

.btn1:active{
    transform: scale(0.95);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

